h1{
color:black;
font-family:ravie;
text-align:center;
}

span    {
color:red;
font-family:ravie;
}

span1   {
color:#8A2BE2;
font-family:ravie;
}

span2   {
color:#8B0000;
font-family:ravie;
}

span3   {
color:yellow;
font-family:ravie;
}

span4   {
color:red;
font-family:ravie;
}

span5   {
color:#FF00FF;
font-family:ravie;
}
   
 span6  {
color: #7CFC00;
font-family:ravie;
}

span7   {
color:#008000;
font-family:ravie;
}

span8   {
color:#191970;
font-family:ravie;
}

span9   {
color:#FF4500;
font-family:ravie;
}

 body    {
background:url (bigger-colors.jpg);
background-size:100%;
background-repeat:no-repeat;
background-position:center;
}

 div#memory_board   {
text-align:center;
background-color: lightgrey;
 border-radius: 15px;
width:400px;
height:450px;
padding:25px;
border:20px solid black;
margin:25px;
}

.instrument {
    height: 80px;
    width: 800px;
    padding-right: 10px;
    padding-top: 10px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
   }
   

.box {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
}

#c {
    background-color: #3e181b;
    border: 3px solid #db1d2d;
   }

#e {
    background-color: #45391b;
    border: 3px solid #fec02d;
}

#f {
    background-color: #193c29;
    border: 3px solid #20d071;
}

#g {
    background-color: #18323e;
    border: 3px solid #1a9ddb;
}


#c:hover {
    background-color:#661920;
    cursor: pointer;
  
}


 #e:hover {
    background-color:#735b20;
    cursor: pointer;
}

#f:hover {
    background-color:#1b613b;
    cursor: pointer;
}

#g:hover {
    background-color:#184d65;
    cursor: pointer;
}


#c:active {
    background-color:red;   
    }

#e:active {
    background-color:yellow;   
}

#f:active {
    background-color:green;   
}

#g:active {
    background-color:blue;  
 }

     
label {
    background-color: black;
    font-weight:bold;
    vertical-align:top;
    text-align:right;  
    padding: 8px 8px 8px 8px;
    margin:  1px 3px 1px 0px;     
    min-width: 120px;
    min-height:100%;    
    height:auto !important;
    height:100%;
    border-radius: 6px;
}

.box1 {
width:200px;
-webkit transition:all .2s;
background:#e3e3e3;
line-height:50px;
text-align:center;
font-weight:bold;
color:#333;
border-radius:5px;
box-shadow: 0px 0px 2px rgba(0,0,0, .5);
                            1px 1px 5px rgba(0,0,0, .3);
                            cursor:pointer;
  }
  
  .box1:hover{
  color:white;
  background:#333;
  cursor:pointer;

  }
                      